@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 33% 96%;
    --foreground: 0 0% 29%;

    --card: 44 33% 96%;
    --card-foreground: 0 0% 29%;

    --popover: 44 33% 96%;
    --popover-foreground: 0 0% 29%;

    --primary: 0 0% 29%;
    --primary-foreground: 44 33% 96%;

    --secondary: 44 10% 92%;
    --secondary-foreground: 0 0% 29%;

    --muted: 44 10% 92%;
    --muted-foreground: 0 0% 45%;

    --accent: 158 15% 80%;
    --accent-foreground: 158 \% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 44 33% 96%;

    --border: 44 10% 88%;
    --input: 44 10% 88%;
    --ring: 0 0% 29%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 44 33% 96%;

    --card: 0 0% 10%;
    --card-foreground: 44 33% 96%;

    --popover: 0 0% 10%;
    --popover-foreground: 44 33% 96%;

    --primary: 44 33% 96%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 44 33% 96%;

    --muted: 0 0% 15%;
    --muted-foreground: 44 10% 65%;

    --accent: 158 15% 25%;
    --accent-foreground: 158 15% 80%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 44 33% 96%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 44 33% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

